[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.*"
django-environ = "==0.11.*"
dj-database-url = "*"
psycopg2 = "*"
djangorestframework = "==3.*"
django-cors-headers = "==4.*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
